.priority_container {
    width: 420px;
    max-width: min(420px, calc(100vw - 24px));
    /* height: 300px; */
    background-color: #FFF;
    border-radius: 24px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
    padding: 16px;
    gap: 22px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.priority_container_title {
    font-weight: 600;
    font-size: 16px;
}

.priority_container_row,
.priority_container_col {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.priority_container_col {
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}

.priority_box,
.priority_dec {
    flex: 1;
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 12px;
    font-size: 44px;
    align-self: stretch;
}

.priority_dec {

    flex: 3;
    height: auto;
    background-color: #6D3CFA;
    font-size: 14px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px;
    box-sizing: border-box;
    line-height: 1.2;
    color: #FFF;
}

.tier-A {
    background-color: #E1FAE8;
    color: #37C25C;
    border-color: #37C25C99;
}

.tier-B {
    background-color: #E5F3FE;
    color: #008DFF;
    border-color: #008DFF99;
}

.tier-D {
    background-color: #FDEFEE;
    color: #EC6A5B;
    border-color: #EC6A5B99;
}

