
.gallery-items-inner-container {
    height: 470px;
    width: 320px;
    overflow: hidden;
    border-radius: 6px;
}

.gallery-items-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (min-width: 751px) {


    .gallery-items-inner-container {
        height: 550px;
        width: 300px;
    }



}