.gm-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    z-index: 3;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.g-module-info-container {
    width: 100%;
    max-width: 1450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* padding: 32px; */
    gap: 32px;
    text-align: center;
    line-height: 1.5;
}



.g-module-title,
.g-module-title-dev {
    font-size: 22px;
    font-weight: 700;
}


.g-mdoule-regular-text,
.g-mdoule-regular-text-dev {
    font-size: 16px;
    font-weight: 500;
}


.g-mdoule-light-text,
.g-mdoule-light-text {
    font-size: 14px;
    font-weight: 400;
}

.g-module-items-single-col {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px
}



.envelope {
    position: absolute;
    height: 93px;
    width: 165px;
    bottom: -37%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f9f9f9;
    transition: margin-top 300ms;
  }
  
  .contact:hover .envelope {
    margin-top: -20px;
    transition-delay: 150ms;
  }
  
  .top {
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 73px;
    z-index: 30;
    overflow: hidden;
    transform-origin: top;
    transition: transform 300ms 150ms, height 300ms, top 300ms;
  }
  
  .contact:hover .top {
    height: 10px;
    top: -60px;
    transform: rotateX(180deg);
    transition: transform 300ms, height 300ms 150ms, top 300ms 150ms;
  }
  
  .outer {
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 83px solid transparent;
    border-right: 82px solid transparent;
    border-top: 70px solid #eee;
  }
  
  .inner {
    position: absolute;
    left: -81px;
    top: -73px;
    border-left: 81px solid transparent;
    border-right: 80px solid transparent;
    border-top: 68px solid #333;
  }
  
  .bottom {
    position: absolute;
    z-index: 20;
    bottom: 0;
    left: 2px;
    border-left: 81px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 45px solid #333;
  }
  
  .left,
  .right {
    position: absolute;
    z-index: 20;
    top: 0;
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent;
  }
  
  .left {
    left: 0;
    border-left: 81px solid #333;
  }
  
  .right {
    right: 0;
    border-right: 80px solid #333;
  }
  
  .cover {
    position: absolute;
    z-index: 15;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background: #eee;
  }
  
  .paper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 83px;
    padding-top: 10px;
    background: #f9f9f9;
    z-index: 10;
    transition: margin-top 300ms;
  }
  
  .contact:hover .paper {
    margin-top: -60px;
    transition-delay: 150ms;
  }
  
  .paper a {
    position: relative;
    display: block;
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
    color: #333;
    text-decoration: none;
    transition: color 200ms;
  }
  
  .paper a:hover {
    color: #eee;
  }
  
  .call .i {
    position: absolute;
    top: 2px;
    left: 20px;
    width: 3px;
    height: 5px;
    border-width: 5px 0 5px 2px;
    border-style: solid;
    border-color: #555;
    background: transparent;
    transform: rotate(-30deg);
    border-top-left-radius: 3px 5px;
    border-bottom-left-radius: 3px 5px;
    transition: border-color 300ms;
  }
  
  .call:hover .i {
    border-color: #ddd;
  }
  
  .mail .i {
    position: absolute;
    top: 0;
    left: 17px;
    font-size: 13px;
    font-weight: bold;
  }



@media (min-width: 900px) {
    .g-module-title {
        font-size: 24px;
    }

    .g-mdoule-regular-text {
        font-size: 18px;
    }

    .g-module-info-container {
        max-width: 950px;

    }

}