.link-tree-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    padding: 44px 0px;
    background-color: var(--brand-color-100-80);
    position: relative;
    overflow: hidden;
    gap: 36px;
    padding-bottom: 100px;
}

.link-tree-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: stretch;
}

.lt-icon-container {
    height: 120px;
    width: 120px;
    border-radius: 999px;
    background: var(--gradient);
    box-shadow: 0px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    z-index: 3;
}

.lt-icon-container img {
    height: 100%;
    object-fit: cover;
}

.lt-label {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-family);
    color: var(--brand-color-900);
    opacity: 0.5;
}

.lt-title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 12px;
    opacity: 1;
}

.lt-invitations-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-self: stretch;
    margin-top: -24px;
}

.lt-invs-cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:138px;
    max-width: 100vw;
    overflow: auto;
    padding: 0px 100px;
    box-sizing: border-box;
}

.lt-invs-cont::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }


.let-invitation-container {
    height: 320px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.let-invitation-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.lt-buttons-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-direction: column;
    box-sizing: border-box;
    gap:24px;
    padding: 0px 42px;
}

.lt-cta-button {
    width: 100%;
    height: 55px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}


.loop {
    position: absolute;
    opacity: 0.8;
    max-width: 200px;
    z-index: 0;
    
}

.lp1 {
    transform: rotate(45deg);
    top: -30px;
    left: -30px;
}

.lp2 {
    transform: rotate(0deg);
    bottom: -30px;
    right: -30px;
}

.lp3 {
    max-width: 550px;
    transform: rotate(65deg);
    bottom: 0px;
    left: -150px;
}