.destination-card {
    height: 250px;
    width: 230px;
    min-width: 200px;
    border-radius: 20px;
    background-color: var(--brand-color-500);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.destination-card::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    mask: linear-gradient(transparent, transparent, black, black);
    backdrop-filter: blur(8px);

}

.dest-info-container {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    gap: 12px;
}

.dest-card-title {
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    text-align: center;
    line-height: 1.1;
}


.destbutton {
    width: 100%;
    height: 35px;
    background-color: #FFF;
    border: none;
    font-size: 10px;
    font-weight: 400;
    color: #000;
    border-radius: 12px;
}
