:root {
  --error-color: #D32F2F;

  --brand-color-900: #29262D;
  --brand-color-800: #5E566A;
  --brand-color-600: #978BAB;
  --brand-color-500: #B4A5CC;
  --brand-color-300: #CCC2DC;
  --brand-color-100: #EAE6F1;
  --brand-color-100-80: #EAE6F180;
  --brand-color-900-80: #29262D80;
  --brand-color-800-80: #5E566A80;
  --brand-color-600-80: #978BAB80;
  --brand-color-500-80: #B4A5CC80;
  --brand-color-500-40: #B4A5CC40;
  --brand-color-500-20: #B4A5CC20;
  --brand-color-300-80: #CCC2DC80;

  --text-color: #29262D;
  --text-color-80: #29262D80;
  --text-color-50: #29262D50;
  --text-color-20: #29262D20;

  --ft-color: #FFFFFF;
  --ft-color-80: #FFFFFF80;
  --ft-color-50: #FFFFFF50;
  --ft-color-20: #FFFFFF20;

  --sc-color: #F5F3F2;
  --sc-color-80: #F5F3F280;
  --sc-color-50: #F5F3F250;
  --sc-color-20: #F5F3F220;

  --gray-color: #787878;
  --gray-color-80: #78787880;
  --gray-color-40: #78787840;
  --gray-color-20: #78787820;

   /* Success color */
   --success-color-50: #CAEBD2;
   --success-color-100: #BBE5C5;
   --success-color-200: #9DDAAB;
   --success-color-300: #7FCE91;
   --success-color-400: #61C377;
   --success-color-500: #43B75D;
   --success-color-600: #389A4E;
   --success-color-700: #2E7C3F;
   --success-color-800: #235F30;
   --success-color-900: #184221;

   /* Danger color */
   --danger-color-50: #FACBC9;
   --danger-color-100: #F9BCBA;
   --danger-color-200: #F69E9B;
   --danger-color-300: #F3807C;
   --danger-color-400: #F1625E;
   --danger-color-500: #EE443F;
   --danger-color-600: #C83935;
   --danger-color-700: #A22E2B;
   --danger-color-800: #7C2321;
   --danger-color-900: #561817;

   /* Warning color */
   --warning-color-50: #FFE7B8;
   --warning-color-100: #FFE0A3;
   --warning-color-200: #FFD37A;
   --warning-color-300: #FFC552;
   --warning-color-400: #FFB829;
   --warning-color-500: #FFAA00;
   --warning-color-600: #D68F00;
   --warning-color-700: #AD7400;
   --warning-color-800: #855800;
   --warning-color-900: #5C3D00;

   /* Info color */
   --info-color-50: #B8E1FF;
   --info-color-100: #A3D9FF;
   --info-color-200: #7AC8FF;
   --info-color-300: #52B7FF;
   --info-color-400: #29A6FF;
   --info-color-500: #0095FF;
   --info-color-600: #007DD6;
   --info-color-700: #0065AD;
   --info-color-800: #004D85;
   --info-color-900: #00365C;


   --green-bg: #E1FAE8;
   --green-bg-80: #E1FAE880;
   --green-bg-40: #E1FAE840;
   --green-bg-20: #E1FAE820;

   --green-color: #37C25C;
   --green-color-80: #37C25C80;
   --green-color-40: #37C25C40;
   --green-color-20: #37C25C20;


   --blue-bg: #E5F3FE;
   --blue-bg-80: #E5F3FE80;
   --blue-bg-40: #E5F3FE40;
   --blue-bg-20: #E5F3FE20;

   --blue-color: #008DFF;
   --blue-color-80: #008DFF80;
   --blue-color-40: #008DFF40;
   --blue-color-20: #008DFF20;


   --red-bg: #FDEFEE;
   --red-bg-80: #FDEFEE80;
   --red-bg-40: #FDEFEE40;
   --red-bg-20: #FDEFEE20;

   --red-color: #EC6A5B;
   --red-color-80: #EC6A5B80;
   --red-color-40: #EC6A5B40;
   --red-color-20: #EC6A5B20;


   --orange-bg: #FCF4DB;
   --orange-bg-80: #FCF4DB80;
   --orange-bg-40: #FCF4DB40;
   --orange-bg-20: #FCF4DB20;

   --orange-color: #E6961F;
   --orange-color-80: #E6961F80;
   --orange-color-40: #E6961F40;
   --orange-color-20: #E6961F20;

   --purple-bg: #EFEAFF;
   --purple-bg-80: #EFEAFF80;
   --purple-bg-40: #EFEAFF40;
   --purple-bg-20: #EFEAFF20;

   --purple-color: #6D3CFA;
   --purple-color-80: #6D3CFA80;
   --purple-color-40: #6D3CFA40;
   --purple-color-20: #6D3CFA20;

   --yellow-bg: #FCF4DB;
   --yellow-bg-80: #FCF4DB80;
   --yellow-bg-40: #FCF4DB40;
   --yellow-bg-20: #FCF4DB20;

   --yellow-color: #E6961F;
   --yellow-color-80: #E6961F80;
   --yellow-color-40: #E6961F40;
   --yellow-color-20: #E6961F20;

   --gray-bg: #F1F1F1;
   --gray-bg-80: #F1F1F180;
   --gray-bg-40: #F1F1F140;
   --gray-bg-20: #F1F1F120;

   --gray-color: #787878;
   --gray-color-80: #78787880;
   --gray-color-40: #78787840;
   --gray-color-20: #78787820;

  --borders: #EBEBEB;
  --font-family: 'Poppins';
  --gradient: linear-gradient(to right, var(--brand-color-500), var(--brand-color-300));
  --gradient-reverse: linear-gradient(to left, var(--brand-color-500), var(--brand-color-300));
}





.main-dash-layout {
  background-color: white;
  background-image: radial-gradient(var(--general-borders) 1px, transparent 1px);
  background-size: 20px 20px;
  
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
  left: 0;
  top: none;
  bottom: 0px !important;
  height: 39px;
  width: 100%;
  z-index: 10000001;
  position: fixed;
  margin-top: 19px;
  border: none;
  border-bottom: 1px solid #6B90DA;
  margin: 0;
  box-shadow: 0 0 8px 1px #999
}

/* Previene desplazamiento hacia abajo cuando aparece la barra */
body {
  top: 0px !important;
}

@media (max-width: 750px) {
  input, textarea, select,
  .ant-input, .ant-input-affix-wrapper,
  .ant-select-selection-search-input,
  .ant-picker-input input {
    font-size: 16px !important;
  }
}


@font-face {
    font-family: 'Denver Serial';
    src: url('/assets/fonts/denver-serial-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Denver Serial';
    src: url('/assets/fonts/Denver-Serial-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Denver Serial';
    src: url('/assets/fonts/fonnts.com-denver_serial-bolditalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Luxora Grotesk';
    src: url('/assets/fonts/LuxoraGrotesk-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luxora Grotesk';
    src: url('/assets/fonts/LuxoraGrotesk-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Luxora Grotesk';
    src: url('/assets/fonts/LuxoraGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Michigan Signature';
    src: url('/assets/fonts/Michigan Signature.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Europa Grotesk SH';
    src: url('/assets/fonts/europa-grotesk-sh-bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Windsor';
    src: url('/assets/fonts/windsor-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
