.new-guest-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;
    gap: 36px;
    padding-top: 0px;
}

.new-guest-title {
    text-align: left;
    width: 100%;
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.available-tickets-container {
    /* width: 100%; */
    padding: 4px 12px;
    box-sizing: border-box;
    border: 1px solid #6D3CFA;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    color: #6D3CFA;
    background-color: #EFEAFF;
}


.new-guest-label,
.new-guest-available {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 500;
}

.new-guest-available {
    font-size: 14px;
    font-weight: 600;
    margin: 0
}

.new-guest-form-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}

.companions_cont {
    background-color: #F5F3F260;
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    border-radius: 8px;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.new-guest-add-tickets-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.companions-name-container {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
}

#new-guest-less-button,
#new-guest-add-button {
    background-color: var(--ft-color);
    border: 1px solid var(--borders);
    transition: all 0.3s ease;
    height: 40px;
    width: 40px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
}

#new-guest-less-button:hover,
#new-guest-add-button:hover {
    background-color: var(--sc-color);
    color: var(--text-color);
}

.add-guest-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#add-new-guest-button {
    background: var(--brand-color-500);
    border-radius: 10px;
    width: 120px;
    height: 40px;
    color: var(--text-color);
    border: none;
    font-family: var(--font-family);
    font-weight: 700;
    transition: all 0.3s ease;
}

#add-new-guest-button:hover {
    background-color: var(--brand-color-600);
}

.new-guest-nex-step-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: normal;
}

#ng-step-button-secondary,
#ng-step-button {
    margin: 10px 5px;
    width: 180px;
    border-radius: 10px;
    font-family: var(--font-family);
    font-weight: 600;
    height: 40px;
    border: none;
    transition: all 0.3s ease;
}

#ng-step-button-secondary {
    border: 1px solid var(--borders);
    background-color: var(--ft-color--ft-color);
    color: var(--text-color);
}

#ng-step-button {
    background-color: var(--brand-color-500);
    border: none;
    color: var(--text-color);
}

#ng-step-button-secondary:hover {
    background-color: var(--sc-color);
}

#ng-step-button:hover {
    background-color: var(--brand-color-600);

}

.priority_container {
    width: 380px;
    /* height: 300px; */
    background-color: #FFF;
    border-radius: 16px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.18);
    padding: 16px;
    gap: 22px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.priority_container_title {
    font-weight: 600;
    font-size: 16px;
}

.priority_container_row,
.priority_container_col {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.priority_container_col {
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
}

.priority_box,
.priority_dec {
    flex: 1;
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 12px;
    font-size: 44px;
    align-self: stretch;
}

.priority_dec {

    flex: 3;
    height: auto;
    background-color: #6D3CFA;
    font-size: 14px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px;
    box-sizing: border-box;
    line-height: 1.2;
    color: #FFF;
}

.tier-A {
    background-color: #E1FAE8;
    color: #37C25C;
    border-color: #37C25C99;
}

.tier-B {
    background-color: #E5F3FE;
    color: #008DFF;
    border-color: #008DFF99;
}

.tier-D {
    background-color: #FDEFEE;
    color: #EC6A5B;
    border-color: #EC6A5B99;
}

