.gifts_container {
    display: flex;
    align-self: stretch;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;
    background-color: #FFF;
    height: 100%;
    box-sizing: border-box;
    border-radius: 24px 0px 0px 24px;
    padding: 32px;
    position: relative;
    z-index: 2;
}

.gifts_col {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    /* align-self: stretch; */
    gap: 8px;
}

.gifts_title {
    font-size: 30px;
    font-weight: 800;
    font-family: 'Poppins';
    max-width: 80%;
    line-height: 1.2;
}

.gifts_text {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins';
    max-width: 85%;
    line-height: 1.4;
}

.gift_input_form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    align-self: stretch;
    gap: 8px;

}

.gift_form_label {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
    max-width: 90%;
    line-height: 1.4;
}

.gifts_title .underline {
    position: relative;
    display: inline-block;
}

.gifts_title .underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 22px;
    background-image: url("/images/text_decoration/underline_purple.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    z-index: -1;
}

.gifts_cards_row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-self: stretch;
    gap: 100px;
    width: 100%;
    margin-top: 24px;
}

.gift_card {
    width: 185px;
    height: 190px;
    border-radius: 12px;
    position: relative;
    /* overflow: hidden; */
    background: linear-gradient(160deg, var(--card-bg), var(--card-contrast), var(--card-bg), var(--card-accent));
    background-size: 300% 300%;
    animation: cardGradientShift 3s ease infinite;
    color: var(--card-name);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 16px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.gift_card::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 0%;
    height: 20px;
    width: 100%;
    background: linear-gradient(to left, var(--card-accent) 70%, var(--card-contrast));
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); */
}

.gift_card::before {
    content: "";
    position: absolute;
    top: 0%;
    right: 12%;
    width: 20px;
    height: 100%;
    background: linear-gradient(to bottom, var(--card-accent) 70%, var(--card-contrast));
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    z-index: 99;
}

.gift_card_title {
    font-size: 42px;
    text-transform: capitalize;
    font-family: 'Poppins';
    font-weight: 800;
    color: var(--card-text);
    line-height: 1;
}

.gift_card_price {
    font-size: 28px;
    text-transform: capitalize;
    font-family: 'Poppins';
    font-weight: 800;
    line-height: 1.2;
    color: var(--card-accent);
}

.gift_card_tag {
    font-size: 12px;
    text-transform: capitalize;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 1.2;
    color: var(--card-accent);
    opacity: 0.5;
}

.gift_card_check {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 26px;
    height: 26px;
    border-radius: 99px;
    background-color: var(--card-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--card-text);
    z-index: 2;
    animation: checkPop 0.25s cubic-bezier(.23, 1, .32, 1);
}

@keyframes checkPop {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.gift_cta_btn_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin-top: 16px;
    border: 1px solid #F5F3F2;
    border-radius: 16px;
    padding: 24px;
    box-sizing: border-box;
}

.gift_cta_btn {
    height: 44px;
    padding: 0px 32px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Poppins';
    color: #20212B;
    background-color: #F5F3F2;
}


@keyframes gradientSlide {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@keyframes cardGradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.banner_pro {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 140px;
    padding: 0px 4px;
    padding-right: 12px;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    font-weight: 800;
    font-family: 'Poppins';
    font-size: 12px;
    z-index: 99;

    background: linear-gradient(to right, #B2A6CA, #E0DAF4, #B2A6CA, #E0DAF4);
    background-size: 300% 100%;
    animation: gradientSlide 3s linear infinite;
    box-shadow: 0px 4px 16px rgba(178, 166, 202, 0.5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: 1px solid var(--card-text);
}